#itemSetting{
  @apply w-full relative h-full
}
#itemSetting .top{
  @apply bg-[#ffe500] w-full pt-[7px] pb-6 flex justify-center sticky top-0 z-50
}
#itemSetting .top > .additem > button{
  @apply h-[48px] w-[280px] flex justify-center items-center rounded-full bg-[#495062] gap-3 text-[16px] font-ibm font-semibold text-[#ffe500]
}
#itemSetting .top > .inputArea{
  @apply w-full px-7 relative
}
#itemSetting .top > .inputArea input{
  @apply w-full h-[64px] border-[3px] border-[#0c0c20] rounded-full bg-white p-[0_48px_0_24px] text-[16px] text-[#FF505A] font-semibold
  placeholder:text-[14px] placeholder:font-semibold placeholder:text-[#919bab]
}
#itemSetting .top > .inputArea button{
  @apply absolute top-4 right-[44px] z-20
}
.my-item-list{
  @apply w-full p-[32px_12px_100px] flex flex-col gap-3
}
.my-item-list .item{
  @apply w-full bg-white border-[1px] border-[#dbdbdb] rounded-[10px] shadow-itemList p-[20px_24px] flex justify-between items-center
}
.my-item-list .item .name{
  @apply font-ibm text-[16px] text-[#0c0c20] font-semibold
}
.my-item-list .item .name em{
  @apply pl-[6px] text-[12px] font-medium font-pretendard text-[#919bab]
}

#itemSetting .btn-box{
  @apply w-full flex justify-center fixed bottom-0 left-0 max-w-[425px] smd:left-1/2 smd:ml-[-213px]
}
#itemSetting .btn-box button{
  @apply w-full flex justify-center items-center h-[60px] gap-3 text-[16px] font-ibm font-semibold text-white bg-[#495062]
}

#itemSetting .visual{
  @apply w-full flex flex-col items-center bg-[#FFE500] px-4 pt-[5px]
}
#itemSetting .visual .txt{
  @apply w-full block pb-5 text-center text-[18px] text-[#0c0c20] font-medium leading-5
  before:content-[''] before:w-[calc(100%-20px)] before:h-[3px] before:bg-[#0c0c20] before:block before:m-[10px_10px_20px]
}

.alarmListCheck{
  @apply w-full p-[20px_12px_48px]
}
.alarmListCheck .box{
  @apply  w-full border-[1px] border-[#dbdbdb] rounded-[10px] shadow-itemList bg-white p-6 flex flex-col gap-6
}
.alarmListCheck .box > div{
  @apply w-full relative
}
.alarmListCheck .box > div input{
  @apply absolute left-[-9999em]
}
.alarmListCheck .box > div input + label{
  @apply w-full flex gap-4 items-center
  before:content-[''] before:w-6 before:h-6 before:border-[1px] before:border-[#CDCFD0] before:rounded-[4px]
}
.alarmListCheck .box > div input:checked + label{
  @apply before:border-[#0c0c20] before:bg-[#ff9900] before:bg-[url('~/assets/img/check.png')] before:bg-no-repeat before:bg-[center_50%] before:bg-[length:15px_15px]
}
.alarmListCheck .box > div label > div{
  @apply w-[calc(100%-40px)] flex gap-3 items-center
}
.alarmListCheck .box > div label > div .txt{
  @apply text-[18px] text-[#0c0c20] font-medium
}
.alarmListCheck .box > div label > div .bullet{
  @apply w-[66px] h-[24px] border-[1px] rounded-full flex justify-center items-center text-[12px] font-semibold
}
.alarmListCheck .box > div label > div .bullet.ko{
  @apply border-[#ff505a] text-[#ff505a]
}
.alarmListCheck .box > div label > div .bullet.usa{
  @apply border-[#3A89FF] text-[#3A89FF]
}
